<h1><%= t ".subject" %></h1>
<p><%= t ".click_link" %></p>
<%= link_to t(".reset"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t ".expired" %></p>
<p><%= t ".ignored" %></p>
